{% extends "menu_info_base.html" %}

{% block title %}География{% endblock %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'index/css/table_style.css'%}" type="text/css">
<link rel="stylesheet" href="{% static 'index/css/menu_info.css'%}" type="text/css">
<h2>География</h2>
<p class="description_page">На данной странице представлена следующия информация:</p>
{% for item in data %}
<p class="menu_title">{{item.title}}</p>
<div class="hidden_info">
    <img class="graphic" width="700" height="500" src="{{item.image.url}}">
    <div class="table-container">
        <p>{{item.text|safe}}</p>
    </div>
</div>
{% endfor %}
{% endblock %}