{% extends "base.html" %}

{% block title %}Последние вакансии{% endblock %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'index/css/last_vac.css'%}" type="text/css">
<h2>Последние 10 вакансий за последние 24 часа</h2>
<p class="description_page">Вам представлена подробная информация о вакансиях системного администратора. Данные взяты с
    сайта hh.ru</p>
<div class="container" id="vacancies-container">
</div>
<script src="{% static 'index/js/script_api.js'%}"></script>
<script>
    document.addEventListener("DOMContentLoaded", () => {
        const container = document.querySelector(".container");
        container.addEventListener("click", (event) => {
            if (event.target && event.target.classList.contains("toggle-description")) {
                const shortDescription = event.target.previousElementSibling.previousElementSibling;
                const fullDescription = event.target.previousElementSibling;
                if (fullDescription.style.display === "none" || fullDescription.style.display === "") {
                    shortDescription.style.display = "none";
                    fullDescription.style.display = "inline";
                    event.target.textContent = "Свернуть";
                } else {
                    shortDescription.style.display = "inline";
                    fullDescription.style.display = "none";
                    event.target.textContent = "Читать полностью";
                }
            }
        });
    });
</script>
{% endblock %}