.hidden_info {
    display: none;
    margin: 0 auto;
    padding-bottom: 15px;
    padding-top: 15px;
    text-align: center;
    width: auto;
    max-width: 90%;
    background-color: #f4f4f4;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.graphic {
    margin-bottom: 15px;
}

.hidden_info.active {
    display: block;
    margin-bottom: 20px;
}

.menu_title {
    cursor: pointer;
    font-size: 20px;
    color: #3496ff;
    margin: 5px 0;
    margin-bottom: 12px;
    transition: color 0.3s;
}

.menu_title:hover {
    color: #003670;
}