* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto Condensed", serif;
    font-optical-sizing: auto;
    font-weight: 401;
    font-style: normal;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #f2f2f2;
}


h2 {
    color: #272727;
    margin-bottom: 15px;
    font-size: 2rem;
}

.description_page {
    font-size: 24px;
    color: #6d6d6d;
    margin-bottom: 15px;
}

.sidebar_list {
    margin: 0;
    padding-top: 10px;
    padding-left: 35px;
}

.item_sidebar_list {
    margin-bottom: 10px;
}

.a_item_sidebar_list {
    text-decoration: none;
    color: #414141;
    font-size: 19px;
    transition: color 0.3s;
}

#navigation-title {
    margin-top: 30px;
    margin-left: 40px;
    list-style: none;
    text-decoration: none;
    color: #000000;
    font-size: 30px;
    transition: color 0.3s;
}

ul li a:hover {
    color: #0069d9;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    height: 100%;
    background-color: #f4f4f4;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
}

.sidebar {
    width: 250px;
    background-color: #f4f4f4;
    padding: 1rem;
    border-right: 1px solid #ddd;
}

.content {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-left: 300px;
    margin-top: 10px;
    margin-right: 50px;
    flex: 1;

}

.header,
.footer {
    background-color: #007BFF;
    color: #fff;
    text-align: center;
    padding: 1rem;
    border: 2px solid #0056b3;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    margin: 10px 0;
}

.header h1 {
    margin: 0;
    font-weight: bold;
    font-size: 3rem;
}

.main {
    flex: 1;
    padding: 1rem;
    padding-left: 40px;
}

.graphic {
    width: 800px;
    height: 600px;
}


@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .sidebar {
        width: 100%;
        border-right: none;
        border-bottom: 1px solid #ddd;
    }
}